<h1>New Vehicle</h1>
<form>
  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.make" name="make"> 
      <option *ngFor="let make of makes" value="{{ make.id }}" >{{ make.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select name="model" id="model" class="form-control">
      <option value="">Choose model</option>
      <option *ngFor="let model of models" value="{{ model.id }}">{{ model.name }}</option>
    </select>
  </div>
  <p>Is this vehicule registered?</p>
  <label for="registered"  class="radio-inline">
    <input type="radio" id="registered" name="isRegistered" value="true"> Yes
  </label>
  <label for="notRegistered"  class="radio-inline">
      <input type="radio" id="notRegistered" name="isRegistered" value="false"> No
    </label>
  <div class="checkbox"  *ngFor="let feature of features">
    <label for="{{ feature.name }}-{{ feature.id }}">
      <input type="checkbox" id="{{ feature.name }}-{{ feature.id }}" value="{{feature.id}}"> {{feature.name}}
    </label>
  </div>
  <h2>Contact</h2>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="tel" id="phone" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" class="form-control">
  </div>
  <button class="btn btn-primary">Save</button>
</form>